@import "tailwindcss";

html, body, #root {
  height: 100%;
}
@theme {
  --color-primary:    #982598;
  --color-accent:     #E491C9;
  --color-surface:    #15173D;
  --color-on-surface: #F1E9E9;
  --color-logo-bg:    #F1E9E9;
  --color-btn-login-bg:   #fffbeb;
  --color-btn-login-text: #000000;
}

/* Entire scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 10px;
}

/* Handle on hover (optional) */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
